.modal.fade.in {
    top: 50%;
}
.octoprint-container .accordion-heading [class*=" icon-"], .octoprint-container .accordion-heading [class^=icon-] {
    color: #ccc;
}
.btn-group > .btn-mini {
    font-size: 14px;
}
button.close {
	color: #f00;
	text-shadow: 0 1px 0 #555;
	opacity: 0.7;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}