/*Overrides to the cyborg theme should go in here to avoid having to edit the main css file*/

/*icon colour in the accordian menus (connection, state, files, etc)*/
.octoprint-container .accordion-heading [class*=" icon-"],
.octoprint-container .accordion-heading [class^=icon-] {
	color: #ccc;
}

/*the "Files" spanner menu dropdown*/
.octoprint-container .accordion-heading .accordion-heading-button a {
	color: #e0e0e0;
}

/*the "Files" spanner menu dropdown highlight colour*/
.octoprint-container .accordion-heading .accordion-heading-button a:hover {
	color: #fff;
	background-color: #2ab2e4;
}

/*other drop down menus like the tab overflow menu*/
.dropdown-menu > li > a {
	color: #e0e0e0;
}

.dropdown-submenu > a:after {
	border-left-color: #e0e0e0;
}

/*close button*/
.close,
.close:hover {
	color: #f00;
	text-shadow: 0 1px 0 #555;
	opacity: 0.7;
}

/*print cancel button*/
#job_cancel, #job_cancel:hover, #job_cancel:focus, #job_cancel:active {
	color: #fff;
	background-color: #bd362f;
    background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
    background-repeat: repeat-x;
    border: 1px solid #bd362f;
}
/*print cancel button disabled*/
#job_cancel.btn.disabled, #job_cancel.btn[disabled], #job_cancel.btn:hover[disabled] {
	color: #fff;
	opacity: 0.65;
	background-color: #5c5c5c;
	border: 1px solid #5c5c5c;
    background-image: none;
}

/*icon fixes*/
[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}

/*timelapse trash icon*/
table td.timelapse_files_action a.icon-trash,
table td.timelapse_unrendered_action a.icon-trash,
table th.timelapse_files_action a.icon-trash,
table th.timelapse_unrendered_action a.icon-trash {
	color: #f00;
}

/*timelapse trash icon disabled*/
table td.timelapse_files_action a.icon-trash.disabled,
table td.timelapse_unrendered_action a.icon-trash.disabled,
table th.timelapse_files_action a.icon-trash.disabled,
table th.timelapse_unrendered_action a.icon-trash.disabled {
	color: #000;
	cursor: not-allowed;
}

/*render and download icon*/
table td.timelapse_files_action a,
table td.timelapse_unrendered_action a,
table th.timelapse_files_action a,
table th.timelapse_unrendered_action a,
table td.settings_logs_action a,
table th.settings_logs_action a {
	color: #02cc00;
}

/*settings pages trash icon enabled*/
table th.settings_plugin_plugin_manager_plugins_actions a.icon-trash,
table td.settings_plugin_plugin_manager_plugins_actions a.icon-trash,
table td.settings_logs_action a.icon-trash,
table th.settings_logs_action a.icon-trash {
	color: #f00;
}

/*settings pages trash icon disabled*/
table th.settings_plugin_plugin_manager_plugins_actions a.icon-trash.disabled,
table td.settings_plugin_plugin_manager_plugins_actions a.icon-trash.disabled {
	color: #000;
	cursor: not-allowed;
}

/*settings pages circle icon enabled*/
table th.settings_plugin_plugin_manager_plugins_actions a,
table td.settings_plugin_plugin_manager_plugins_actions a,
table td.settings_plugin_announcements_channels_actions a,
table th.settings_plugin_announcements_channels_actions a {
	color: #fff;
}

/*settings pages circle icon disabled*/
table td.settings_plugin_announcements_channels_actions a.disabled,
table th.settings_plugin_announcements_channels_actions a.disabled {
	color: #000;
	cursor: not-allowed;
}

/*general table hover colour*/
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: #000;
	color: #ddd;
}

/*gcode "files" hover colour*/
#files .gcode_files .entry:hover {
	background-color: #000;
	color: #ddd;
}

/*pagination buttons*/
.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #000000;
}

/*fix for weirdness with active tab being selected*/
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	color: #ffffff;
	background-color: #33b5e5;
}

/*headings in the tab sections (not actual tab names)*/
.octoprint-container .tab-content h1 {
	color: #adafae;
}

/*Border around active tab + top of tab cluster*/
.tabbable .nav-tabs,
.tabbable .nav-tabs li.active > a {
	border-color: #ddd;
}

/*fix for temperature dropdowns causing scroll*/
.tab-content {
	overflow: visible;
}

/*fix for navbar being weird in a browser window sized smaller than the total page width*/
.navbar {
	min-width: 960px;
}

/*fix navbar text being too spaced out*/
.navbar .nav {
	font-size: 13px;
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/*fix navbar text being too spaced out*/
.navbar .navbar-text {
	padding: 15px 0px 0px;
}

/*highlighted tabs border colour*/
.nav-tabs li > a:hover, .nav-tabs li.active > a, .nav-tabs li.active > a:hover {
    border-color: #fff;
}

/*fix plugin archive upload button being too large*/
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
/*obvious general stuff, fonts, font sizes*/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
input,
button,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*fix plugin archive upload button height*/
select, input[type="file"] {
    height: 20px;
}
