/*Overrides to the cyborg theme should go in here to avoid having to edit the main css file*/

/*the "Files" spanner menu dropdown*/
.octoprint-container .accordion-heading .accordion-heading-button a {
	color: #e0e0e0;
}

/*the "Files" spanner menu dropdown highlight colour*/
.octoprint-container .accordion-heading .accordion-heading-button a:hover {
	color: #fff;
	background-color: #2ab2e4;
}

/*other drop down menus like the tab overflow menu*/
.dropdown-menu > li > a {
	color: #e0e0e0;
}

.dropdown-submenu > a:after {
	border-left-color: #e0e0e0;
}

/*timelapse file sorting dropdown*/
.dropdown-menu-right {
    right: 0;
    left: auto;
}

/*close button*/
.close,
.close:hover {
	color: #f00;
	text-shadow: 0 1px 0 #555;
	opacity: 0.7;
}

/*print cancel button*/
#job_cancel, #job_cancel:hover, #job_cancel:focus, #job_cancel:active {
	color: #fff;
	background-color: #bd362f;
    background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
    background-repeat: repeat-x;
    border: 1px solid #bd362f;
}
/*print cancel button disabled*/
#job_cancel.btn.disabled, #job_cancel.btn[disabled], #job_cancel.btn:hover[disabled] {
	color: #fff;
	opacity: 0.65;
	background-color: #5c5c5c;
	border: 1px solid #5c5c5c;
    background-image: none;
}

/*general table hover colour*/
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: #000;
	color: #ddd;
}

/*gcode "files" hover colour*/
#files .gcode_files .entry:hover {
	background-color: #000;
	color: #ddd;
}

/*pagination buttons*/
.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #000000;
}

/*fix for weirdness with active tab being selected*/
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	color: #ffffff;
	background-color: #33b5e5;
}

/*headings in the tab sections (not actual tab names)*/
.octoprint-container .tab-content h1 {
	color: #adafae;
}

/*Border around active tab + top of tab cluster*/
.tabbable .nav-tabs,
.tabbable .nav-tabs li.active > a {
	border-color: #ddd;
}

/*fix for temperature dropdowns causing scroll*/
.tab-content {
	overflow: visible;
}

/*temperature graph background*/
div#temperature-graph {
    background-color: #a0a0a0;
    border-radius: 5px;
    padding: 3px !important;
}

/*fix for navbar being weird in a browser window sized smaller than the total page width*/
.navbar {
	min-width: 960px;
}

/*fix navbar text being too spaced out*/
.navbar-inner {
    min-height: 40px;
}
.navbar .nav {
	/*font-size: 13px;*/
	position: relative;
	left: 0;
	display: block;
	float: left;
	/*margin: 0 10px 0 0;*/
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.navbar .navbar-text {
	padding: 10px 0px 10px;
}

.navbar .nav>li>a {
    padding: 10px 15px 10px;
}

/*highlighted tabs border colour*/
.nav-tabs li > a:hover, .nav-tabs li.active > a, .nav-tabs li.active > a:hover {
    border-color: #fff;
}

/*fix plugin archive upload button being too large*/
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
/*obvious general stuff, fonts, font sizes*/
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
input,
button,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*input too hard to read fix*/
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #444 !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #444 !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #444 !important;
}

.input-append .add-on, .input-prepend .add-on {
    color: #222;
    text-shadow: 0 1px 0 #d4d4d4;
}

/*Make progress bar easier to see*/
.progress {
    color: #eee;
    background-color: #444;
    background-image: linear-gradient(to bottom, #555, #333);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/*fix plugin archive upload button height*/
input[type="file"] {
    height: 20px;
}

/*touchui fixes*/

/*page headings*/
#touch h3, #touch h4 {
    color: black;
    font-weight: bold;
}
/*page text labels*/
#touch legend, #touch label {
    color: black;
}
/*help text*/
#touch .help-block, #touch .help-inline {
    color: #595959;
}
/*previous navbar min width fix still works on regular browsers but caused touchui to have to scroll, this is my dirty workaround*/
#touch .navbar {
	min-width: 1px;
}

/*settings pages drop down list*/
#touch .nav-list li > a:hover {
	color: #fff;
	background-color: #000000;
}

/*terminal page filter labels*/
#touch #terminal-filterpanel label {
	color: #ddd;
}